
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &--main {

    body {

      background-image: url('../img/man.jpg');
      background-repeat: no-repeat;
    
      @media (min-width: $screen-xl) {
        background-position: right -40vw top -7vw;
        background-size: 90vw;
      }
    
      @media (min-width: $screen-xxl) {
        background-position: right -38vw top -3vw;
        background-size: 100vw;
      }
    }
  }

  &--contacts {

    body {
      background-image: url('../img/map-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  padding-top: 178px;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  @include container;
}

// intro
.intro {

  padding-top: 160px;
  padding-bottom: 320px;

  &__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 1.1;
    margin-bottom: 195px;

    @media (min-width: $screen-lg) {
      font-size: 90px;
    }
  }

  &__stats-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    .d-btn {
      position: absolute;
      left: 75%;
    }

    .stats {
      margin-right: auto;
    }
  }
}
// ./intro

// stats
.stats {
  display: flex;
  flex-wrap: wrap;

  &__item {

    padding: 20px 0;

    &:not(:last-child) {
      margin-right: 102px;
    }
  }

  &__count {
    color: $color-main;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__caption {
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
  }
}
// ./stats

// about
.about {

  padding-bottom: 160px;

  &__title {
    @media (min-width: $screen-lg) {
      max-width: 50%;
      margin-bottom: 55px;
    }
  }
  
  &__caption {
    @include row;

    .col {
      @include col();
      @include col(md, 6);
      margin-bottom: 40px;
    }

    @media (min-width: $screen-xl) {
      max-width: 70%;
    }
  }
}
// ./about

// .services
.services {

  &__title {
    @media (min-width: $screen-lg) {
      max-width: 60%;
      padding-bottom: 90px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 555px;
    @include row;

    @media (max-width: $screen-md) {
      background-image: url(../img/mountain-sm.png);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 100%;
    }
  }

  &__item {
    @include col();
    @include col(md, 6);
    @include col(lg, 3);
    margin-bottom: 30px;
    position: relative;

    @media (min-width: $screen-lg) {
      &:after {
        content: "";
        opacity: 0;
        position: absolute;
        top: calc(100% + 30px);
        left: 50%;
        transform: translateX(-50%);
        width: 860px;
        height: 555px;
        background-image: url(../img/mountain.png);
        background-size: 860px 555px;
        background-repeat: no-repeat;
      }
    }

    &.active,
    &:hover {
      color: $color-main;
      cursor: pointer;

      &:after {
        opacity: 1;
      }
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 15px;

    @media (min-width: $screen-lg) {
      font-size: 24px;
    }
  }

  &__card-group {
    @include row;
  }

  &__card {
    @include col();
    @include col(xl, 3);
    margin-bottom: 30px;
  }

  &__card-inner {
    display: block;
    background-color: $color-main;
    color: #fff;
    height: 100%;
    padding: 40px;
    text-decoration: none;
    transition: all $transition-time;

    &:hover {
      background-color: $color-yellow;
      color: #67757F;
    }
  }

  &__card-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__card-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
}
// ./services

// portfolio
.portfolio {
  background-color: $color-main;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 90px;

  &__header {
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    .d-btn {
      position: absolute;
      left: 82%;
    }
  }

  &__title {
    margin-right: auto;
  }

  &__list {
    // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
    @include row($grid-gutter-width, 30px, 30px, 20px, 20px, 20px);
  }

  &__item {
    @include col();
    // @include col(sm, 6);
    // @include col(md, 4);

    @include col(sm, 6, $grid-columns, 30px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 4, $grid-columns, 30px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 4, $grid-columns, 20px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 4, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 4, $grid-columns, 20px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px

    margin-bottom: 30px;

    @media (min-width: $screen-lg) {
      margin-bottom: 20px;
    }
  }
}
// end portfolio

// portfolio-card
.portfolio-card {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  text-decoration: none;

  &__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: inherit;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    color: $text-color;

    @media (min-width: $screen-lg) {
      padding: 40px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;

    @media (min-width: $screen-lg) {
      font-size: 24px;
    }
  }

  &__sub-title {
    font-weight: 500;
    font-size: 14px;

    @media (min-width: $screen-lg) {
      font-size: 16px;
    }
  }

  &:hover {
    background-color: #FFEE32;

    .portfolio-card__img-wrap {
      mix-blend-mode: multiply;
    }
  }
}
// end portfolio-card

// page-top
.page-top {

  margin-bottom: 200px;

  &__inner {
    @include row;
  }

  &__content {
    @include col();
    @include col(xl, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__img-wrap {
    @include col();
    @include col(xl, 6);
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;

    @media (min-width: $screen-xl) {
      font-size: 90px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;

    @media (min-width: $screen-xl) {
      font-size: 24px;
    }
  }
}
// end page-top

// advantage
.advantage {

  padding-top: 30px;
  padding-bottom: 100px;

  &__list {
    @include row;
    list-style: none;
    padding: 0;
    counter-reset: adv-counter;
  }

  &__item {
    @include col();
    @include col(xxl, 3);
    @include col(xl, 4);
    @include col(lg, 6);
    margin-bottom: 20px;
  }
}

.advantage-card {
  background-color: $color-main;
  padding: 40px;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: all $transition-time;

  &:hover {
    background-color: $color-yellow;
    color: #67757F;
  }

  &__header {
    font-weight: 700;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      counter-increment: adv-counter;
      content: "0" counter(adv-counter);
      font-size: 60px;
      font-weight: 700;
      margin-right: 20px;
    }
  }

  &__body {
    line-height: 24px;
    font-weight: 500;
  }
}
// end advantage

// certificates
.certificates {
  background-color: #82C5E1;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 90px;

  &__list {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 2);
    @include col(sm, 4);
    margin-bottom: 60px;
  }

  &__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    .d-btn {
      position: absolute;
      left: 82%;
    }
  }
}
// end certificates

// process
.process {
  background-color: $color-main;
  color: #fff;
  padding: 60px 0 100px;
  position: relative;

  &__header {
    margin-bottom: 100px;
  }

  &__title {
    margin: 0;
  }

  &__group {
    @include row;
    max-width: 75%;
    counter-reset: process-counter;
  }

  &__item {
    @include col();
    @include col(xl, 4);
  }

  &__card {
    border: 1px solid #fff;
    height: 100%;
    padding: 40px;
  }

  &__card-header {
    position: relative;
    padding-bottom: 35px;

    span {
      display: inline-block;

      &:after {
        content: "шаг";
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #fff;
        display: inline-block;
        transform: translateY(-65%) translateX(-25%) rotate(-90deg);
      }

      &:before {
        counter-increment: process-counter;
        content: "0" counter(process-counter);
        font-weight: 700;
        font-size: 60px;
        color: $color-yellow;
        display: inline-block;
        line-height: 1;
      }
    }
  }

  .d-btn {
    position: absolute;
    right: 0;
    bottom: 100px;
  }
}
// end process