// В этом файле должны быть стили для БЭМ-блока about, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element
  padding-bottom: 60px;
  
  @media (min-width: $screen-md) {
    padding-bottom: 160px;
  }

  &__title {

    margin-top: 0;

    @media (min-width: $screen-lg) {
      max-width: 50%;
      margin-bottom: 55px;
    }
  }
  
  &__caption {
    @include row;

    .col {
      @include col();
      @include col(md, 6);
      margin-bottom: 40px;
    }

    @media (min-width: $screen-xl) {
      max-width: 70%;
    }
  }
}
