// В этом файле должны быть стили для БЭМ-блока page-calc, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-calc {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  
  @media (min-width: $screen-xl) {
    margin-bottom: 80px;
  }

  &__head {
    position: relative;
  }

  &__inner {
    @include row;
    margin-bottom: 30px;

    @media (min-width: $screen-xl) {
      height: calc(100vh - 169px);
      min-height: 709px;
    }

    .d-btn {
      position: absolute;
      margin-bottom: 0px;
      bottom: 0;
      top: auto;
      right: 0;
      z-index: 2;
      display: none;
      
      @media (min-width: $screen-xl) {
        display: block;
      }
  
      @media (max-width: $screen-md) {
        min-width: 100%;
        
        .d-btn__body {
          // margin-top: 20px;
          // right: 0;
          width: 100%;
        }
      }
    }
  }

  &__caption {
    @include col();
    @include col(xl, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 20px;
      }

      li,
      a {
        font-size: 24px;
        font-weight: 700;
        color: $color-main;
        transition: all $transition-time;

        &:hover {
          text-decoration: none;
          color: $color-yellow;
        }
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;

    @media (min-width: $screen-xl) {
      font-size: 64px;
    }
    @media (min-width: $screen-xxl) {
      font-size: 90px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 15px;
    
    @media (min-width: $screen-xxl) {
      max-width: 60%;
      margin-bottom: 30px;
      font-size: 24px;
    }

    a {
      color: $color-main;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  &__scroll {
    @media (max-width: ($screen-xl - 1)) {
      display: none;
    }
    .scroll-link {
      display: inline-block;
      width: 15px;
      height: 56px;
      margin: auto;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='56' viewBox='0 0 15 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='6' width='3' height='50' fill='%2382C5E1'/%3E%3Cpath d='M7.5 56L1.00481 49.25H13.9952L7.5 56Z' fill='%2382C5E1'/%3E%3C/svg%3E%0A");
      @media (min-width: $screen-lg) {
        margin-left: 37%;
      }
    }
  }

  &__form-wrap {
    @include col();
    @include col(xl, 6);
    position: relative;
    background: $color-main;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    display: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100%;
      background: $color-main;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      align-items: center;
    }

    @media (min-width: $screen-md) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__form-wrap-mobile {
    position: relative;
    background: $color-main;
    padding: 40px 0 160px 0;

    @media (min-width: $screen-xl) {
      display: none;
    }

    #{$block-name}__form {
      margin: 0;
      max-width: 100%;
      padding-bottom: 25px;
    }

    .group-row {
      @include row;
    }
    .group {
      @include col();
      @include col(md, 6);
    }

    .d-btn {
      position: absolute;
      right: 0;
    }
  }

  &__form {
    z-index: 1;
    margin: 0;
    color: #fff;
    background: $color-main;
    max-width: 492px;
    margin-bottom: 20px;
    @media (min-width: $screen-md) {
      margin: 20px;
    }
    @media (min-width: $screen-md) {
      // padding-bottom: 100px;
      margin: 40px 40px 40px 120px;
    }

    h3 {
      margin-bottom: 30px;

      @media (min-width: $screen-md) {
        margin-bottom: 45px;
      }
    }

    .field-text {
      margin-bottom: 40px;
      @media (min-width: $screen-md) {
        margin-bottom: 50px;
      }
    }

    .field-text__name {
      margin-bottom: 0;
    }

    .field-text__input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      padding-left: 0;
      color: #fff;

      &:focus {
        border-color:  #FFEE32;
        transition: border-color $transition-time;
      }

      &::placeholder {
        opacity: 0;
      }
    }
  }
}
