// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  
  @media (min-width: $screen-lg) {
    padding: 45px 0;
  }

  &__inner {
    display: flex;

    .logo {
      margin-right: auto;

    }
  }

  .logo-img {
    display: block;
  }

  .logo-white-img {
    display: none;
  }

  &.sticky {
    background-color: $color-main;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    opacity: 1;
    z-index: 10;
    padding: 5px 0 !important;
    animation: slideInDown 0.5s 1 ease-in-out;

    .burger {
      align-self: center;
      svg {
        fill: #fff;
      }
    }

    .logo__link {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .logo__caption {
      display: none;
    }

    .logo-img {
      display: none;
    }
  
    .logo-white-img {
      display: block;
    }

    .main-nav__list {
      background: #82C5E1;
    }
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}