// В этом файле должны быть стили для БЭМ-блока d-btn, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.d-btn {

  $block-name:                &; // #{$block-name}__element

  text-decoration: none;

  @media (max-width: ($screen-md - 1)) {
    left: 0;
    right: 0;
  }

  &__inner {
    display: flex;
  }

  &__outer-text {
    color: $text-color;
    font-size: 16px;
    font-weight: 700;
    padding: 30px;
    white-space: nowrap;
    display: none;

    @media (min-width: $screen-md) {
      display: inline-flex;
    }
  }
  
  &__body {
    color: #fff;
    background-color: $color-main;
    padding: 20px 70px 20px 20px;
    position: relative;
    display: inline-block;
    
    @media (min-width: $screen-md) {
      padding: 30px 30px 30px 100px;
      width: 252px;
    }
    @media (max-width: ($screen-md - 1)) {
      margin-left: 15px;
      width: 100%;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    border: 1px solid #fff;
    background-color: $color-main;
    border-radius: 50%;
    box-shadow: -5px 0px 0px 0px #6BA5BE, -5px 0px 0px 0px #76b6d2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: all $transition-time;

    @media (min-width: $screen-md) {
      width: 49px;
      height: 49px;
      right: inherit;
      left: 30px;
    }

    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: absolute;
      top: 16px;
      left: 8px;
      transform: translateY(-70%) rotate(-45deg);

      @media (min-width: $screen-md) {
        width: 14px;
        height: 14px;
        top: 26px;
        left: 13px;
      }
    }
  }

  &__caption {
    display: inline-block;
    color: #67757F;
    font-size: 14px;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  @media (min-width: $screen-lg) {
    &:hover {

      #{$block-name}__icon {

        right: 15px;
  
        @media (min-width: $screen-lg) {
          right: inherit;
          left: 45px;
        }
        box-shadow: -9px 0px 0px 0px #6BA5BE, -19px 0px 0px 0px #76b6d2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    &:active {

      #{$block-name}__icon {

        left: 45px;
        box-shadow: -9px 0px 0px 0px #6BA5BE, -19px 0px 0px 0px #76b6d2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
    }
  }
  @media (min-width: 0px) and (max-width: 767px) {
    &:active {

      #{$block-name}__icon {

        right: 15px;
        box-shadow: -9px 0px 0px 0px #6BA5BE, -19px 0px 0px 0px #76b6d2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
    }
  }

  &--wt {
    #{$block-name}__outer-text {
      color: #fff;
    }
  }

  &--yellow {
    #{$block-name}__body {
      background-color: $color-yellow;
    }

    #{$block-name}__icon {
      background-color: $color-yellow;
      border-color: #67757F;
      box-shadow: -5px 0px 0px 0px #FFCB0F, -5px 0px 0px 0px rgba(#FFCB0F, 0.5), 5px 5px 15px 5px rgba(0, 0, 0, 0);

      &:before {
        border-color: #67757F;
      }
    }

    @media (min-width: $screen-lg) {
      &:hover {
        #{$block-name}__icon {
          box-shadow: -9px 0px 0px 0px #FFCB0F, -19px 0px 0px 0px rgba(#FFCB0F, 0.5), 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
      }
    }
    @media (max-width: ($screen-lg - 1)) {
      &:active {
        #{$block-name}__icon {
          box-shadow: -9px 0px 0px 0px #FFCB0F, -19px 0px 0px 0px rgba(#FFCB0F, 0.5), 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
