// В этом файле должны быть стили для БЭМ-блока page-contacts, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-contacts {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  .d-btn {
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    top: auto;
    right: 0;
    z-index: 2;

    @media (max-width: ($screen-md - 1)) {
      // position: static;
      min-width: 100%;
      
      .d-btn__body {
        right: 0;
        bottom: inherit;
        width: 100%;
      }
    }
    
    @media (max-width: ($screen-xl - 1)) {
      bottom: 80px;
    }
  }

  &__inner {
    @include row;

  }

  &__caption {
    @include col();
    @include col(xl, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 24px;
      line-height: 1.3;
      font-weight: 600;
      margin-bottom: 60px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 20px;
      }

      li,
      a {
        font-size: 24px;
        font-weight: 700;
        color: $color-main;
        transition: all $transition-time;

        &:hover {
          text-decoration: none;
          color: $color-yellow;
        }
      }
    }

    @media (max-width: ($screen-xl - 1)) {
      padding-bottom: 80px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;

    @media (min-width: $screen-xl) {
      font-size: 64px;
    }
    @media (min-width: $screen-xxl) {
      font-size: 90px;
    }
  }

  &__form-wrap {
    @include col();
    @include col(xl, 6);
    position: relative;
    background: $color-main;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100%;
      background: $color-main;
    }
    &:after {
      
      @media (max-width:($screen-xl - 1)) {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 100%;
        background: $color-main;
      }
    }

    @media (max-width:($screen-xl - 1)) {
      padding-top: 40px;
      padding-bottom: 140px;
    }
  }

  &__form {
    z-index: 1;
    margin: 0;
    color: #fff;
    background: $color-main;
    margin-bottom: 20px;
    width: 100%;
    @media (min-width: $screen-xl) {
      max-width: 492px;
      padding-bottom: 100px;
      margin: 40px 40px 40px 120px;
    }

    h3 {
      margin-bottom: 30px;

      @media (min-width: $screen-md) {
        margin-bottom: 45px;
      }
    }

    .field-text {
      margin-bottom: 20px;
      @media (min-width: $screen-md) {
        margin-bottom: 50px;
      }
    }

    .field-text__name {
      margin-bottom: 0;
    }

    .field-text__input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      padding-left: 0;
      color: #fff;

      &:focus {
        border-color:  #FFEE32;
        transition: border-color $transition-time;
      }

      &::placeholder {
        opacity: 0;
      }
    }

    .group-row {
      @include row;
    }
    .group {
      @include col();
      @include col(md, 6);
      @include col(xl, 12);
    }
  }
}
