// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background-color: $color-blue-darken;
  color: #fff;
  padding: 75px 0;

  .container {
    position: relative;
  }

  &__inner {
    @include row;
  }

  &__contacts,
  &__social {
    @include col();
    @include col(lg, 3);
  }

  &__logo {
    @include col();
    @include col(lg, 4);
  }

  &__nav {
    @include col();
    @include col(lg, 2);
  }

  &__logo,
  &__nav,
  &__contacts {
    @include col(md, 4);
  }

  &__nav,
  &__contacts {
    @include col(sm, 6);
  }

  &__logo,
  &__nav,
  &__contacts,
  &__social {
    @media (max-width: $screen-md) {
      margin-bottom: 40px;
    }
  }

  &__copyright {
    font-weight: 500;
    color: rgba(#fff, 0.5);

    @media (min-width: $screen-md) {
      transform: rotate(-90deg);
      position: absolute;
      top: 40%;
      right: -85px;
      margin: 0;
    }
  }
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    a {
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      transition: color $transition-time;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    a {
      display: block;
      color: #fff;
      font-weight: 700;
      transition: color $transition-time;

      &:hover {
        color: $color-yellow;
        text-decoration: none;
      }
    }
  }
}
